<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
                  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🎬</text></svg>"></link>
    <title>리뷰플러스 관리자</title>  
</head>
<body>
	<div id="header" th:fragment = "header">
		<div class="nav">
			<ul class="nav1">
				<li><a href="/"><img src="/images/logo.png" alt="logo" class="logoimg"></a></li>
				<li><a href="/Admin/AdminHome">관리자 홈</a></li>
				<li><a href="/logout">로그아웃</a></li>
			</ul>
			<ul class="nav2">
				<li><a href="/Admin/AdminUser">회원관리</a></li>
				<li><a href="/Admin/AdminMovie">영화관리</a></li>
				<li><a href="/Admin/AdminReview">리뷰관리</a></li>
			</ul>
		</div>
	</div>
	
	<div class="list">
	<h2>관리자 홈</h2>
		<div class="list-title" >최근 가입자 목록</div>
			<table class="table">
				<tr>
					<th>아이디</th>
					<th>닉네임</th>
					<th>이메일</th>
					<th>가입일</th>
				</tr>
				<tr th:each ="user : ${allUserList}"
					th:data-url ="@{/Admin/AdminUserDetail/{userId}(userId=${user.userId})}"
					onclick="UserDetailLink(this);" id = "UserList">
					<td th:text="${user.userId}"></td>
					<td th:text="${user.nickname}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${#temporals.format(user.createdAt , 'yyyy-MM-dd HH:mm:ss')}"></td>
				</tr>
			</table>
		<div class="list-title" >전체 영화 리뷰</div>
			<table class="table">
				<tr>
					<th>번호</th>
					<th>닉네임</th>
					<th>영화제목</th>
					<th>리뷰내용</th>
					<th>등록일</th>
				</tr>
				<tr th:each = "reviews : ${allUserReview}" 
					th:data-url="@{/Admin/AdminReviewDetail/{reviewId}(reviewId=${reviews.reviewId})}"
					onclick="UserDetailLink(this);"
					id = "UserReviewsList">
					<td th:text ="${reviews.reviewId}"></td>
					<td th:text ="${reviews.nickname}" ></td>
					<td th:text ="${reviews.title}"></td>
					<td th:text ="${reviews.comment}"></td>
					<td th:text ="${reviews.regDate}">
				</tr>
			</table>
	</div>
	<!-- tr 링크 클릭 이동 스크립트  -->
	<script>
		function UserDetailLink(rowElement){
			const url = rowElement.getAttribute('data-url');
			if(url){
				window.location.href = url;
			}
		}
	</script>
	
</body>
</html>